h1 {
  color: #eee;
  font-size: 28px;
  text-align: center;
  margin-bottom: 28px;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

h2 {
  font-size: 24px;
}

body {
  background-color: #efeee7;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 150%;
}

header {
  background-color: #333;
  margin: 0 auto;
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 1024px;
}

#main-bio {
  float:left;
  width: 70%;
}

#bio-image {
  float: left;
  width: 200px;
  margin-right: 20px;
}

#contact-info {
  float: left;
  width: 30%;
  line-height: 1.5;
}

a {
  color: #d21034;
  font-size: 14px;
}